            <div class="table-responsive wishlist-table margin-bottom-none">
              <table class="table">
                <thead>
                  <tr>
                    <th>Meus Anuncios</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ad of ads; let i = index;">
                    <td>
                      <div class="product-item"><img style="max-width:100px;max-height: 150px;" src={{imgs[ad.id]}} onError="this.src='./images/no_img.jpg';" alt="Product">
                        <div class="product-info">
                          <h4 class="product-title">{{ad.title}}</h4>
                          <div class="text-lg text-medium text-muted">${{ad.price}}</div>
                          <div>Disponivel:
                            <div class="d-inline text-success">Sim</div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="text-center">
                    
                            <p>
                                <a [routerLink]="['/account-home', {outlets: {'account': ['edit',ad.id]}}]" ><span mdTooltip="Alterar!"><i class="material-icons">&#xE3C9;</i></span> </a> 
                            </p>
                           
                            <span mdTooltip="Compartilhar!">
                            <p>
                                <a><i class="material-icons">&#xE80D;</i> </a> 
                            </p>
                            </span>

                            <p>
                                <a><span mdTooltip="Inativar!"><i class="material-icons">&#xE872;</i></span> </a> 
                            </p>
                        
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            
</div>