<div class="header">
        <nav class="navbar navbar-site navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span></button>
                    <a href="index.html" class="navbar-brand logo logo-title">
                        <!-- Original Logo will be placed here  -->
                        <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span>
                         ACQUA PLAY<span> ANUNCIOS </span> </a></div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li (click)="logout();"><a routerLink="/home">Sair <i class="glyphicon glyphicon-off"></i> </a></li>
                        <li class="dropdown"><a routerLink="/account-home">
                            <span>{{user.email}}</span> <i class="icon-user fa"></i> <i
                                class=" icon-down-open-big fa"></i></a>
                            <ul class="dropdown-menu user-menu">
                                <li class="active"><a href="account-home.html"><i class="icon-home"></i> Personal Home
                                </a></li>

                                <li><a href="account-myads.html"><i class="icon-th-thumb"></i> My ads </a></li>
                                <li><a href="account-favourite-ads.html"><i class="icon-heart"></i> Favourite ads </a>
                                </li>
                                <li><a href="account-saved-search.html"><i class="icon-star-circled"></i> Saved search
                                </a></li>
                                <li><a href="account-archived-ads.html"><i class="icon-folder-close"></i> Archived ads
                                </a></li>
                                <li><a href="account-pending-approval-ads.html"><i class="icon-hourglass"></i> Pending
                                    approval </a></li>
                                <li><a href="statements.html"><i class=" icon-money "></i> Payment history </a></li>
                            </ul>
                        </li>
                        <li class="postadd"><a class="btn btn-block   btn-border btn-post btn-danger"
                                               routerLink="/ads/new">Poste um anuncio grátis</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <!-- /.header -->