


    <header class="navbar navbar-sticky">
      <!-- Search-->
      <form class="site-search" (ngSubmit)="onSubmit()" #siteSearchForm="ngForm">
        <input type="text" name="siteSearch" [(ngModel)]="siteSearch" placeholder="O que procura..." required>
        <div class="search-tools">
            <span class="clear-search" (click)="search();">Buscar</span>
            <span class="clear-search">Clear</span>
            <span class="close-search"><i class="icon-cross"></i></span>
        </div>
      </form>
      <div class="site-branding">
        <div class="inner">
         
          <!-- Site Logo--><a class="site-logo" href="index.html"><img src="img/logo/pasquantonio.png" alt="Catalogo Acqua"></a>
        </div>
      </div>
      <!-- Main Navigation-->
      
      <!-- Toolbar-->
      <div class="toolbar">
        <div class="inner">
          <div class="tools">
            <div class="search"><i class="icon-search"></i></div>
            <div class="account"><a href="account-orders.html"></a><i class="icon-head"></i>
              <ul class="toolbar-dropdown">
                <li class="sub-menu-title"><span>Olá,</span> {{user.firstName}} {{user.lastName}}</li>
                  <li><a [routerLink]="['/account-home', {outlets: {'account': ['detail']}}]">Meu Cadastro</a></li>
                  
                  <li><a [routerLink]="['/account-home', {outlets: {'account': ['myads']}}]">Meus Anuncios</a></li>
                  <li><a [routerLink]="['/account-home', {outlets: {'account': ['chats']}}]">Mensagens</a></li>
                <li class="sub-menu-separator"></li>
                <li (click)="logout();"><a routerLink="/login"> <i class="icon-unlock"></i>Logout</a></li>
              </ul>
            </div>
            
                <button routerLink="/ads/new" type="button" class="btn btn-primary">Poste um anuncio gratuitamente</button>
            
            
            
          </div>
        </div>
      </div>
    </header>