

    <md-toolbar color="primary">
        <span>Acqua </span>
        <span class="fill-remaining-space"></span>
        <form class="example-form">
          <md-form-field class="full-width">
            <input mdInput placeholder="O que procura..." name="siteSearch" [(ngModel)]="siteSearch" type="search"/>
          </md-form-field>
        </form>
        <button md-icon-button (click)="search();"><md-icon class="material-icons">&#xE8B6;</md-icon></button>
        <span class="fill-remaining-space"></span>
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item [routerLink]="['/account-home', {outlets: {'account': ['detail']}}]">
            <md-icon>&#xE853;</md-icon>
            <span>Cadastro</span>
          </button>
          <button md-menu-item [routerLink]="['/account-home', {outlets: {'account': ['myads']}}]">
            <md-icon>&#xE8CC;</md-icon>
            <span>Anuncios</span>
          </button>
          <button md-menu-item [routerLink]="['/account-home', {outlets: {'account': ['chats']}}]">
            <md-icon>&#xE0C9;</md-icon>
            <span>Mensagens</span>
          </button>
          <button md-menu-item (click)="logout();">
            <md-icon>&#xE5C9;</md-icon>
            <span>Logout</span>
          </button>
        </md-menu>
        <button md-raised-button color="primary" routerLink="/ads/new">Poste um anuncio gratuitamente</button>
    </md-toolbar>
