
<md-grid-list cols="4" rowHeight="380">
  <md-grid-tile *ngFor="let ad of ads" role="listitem"
     >
    <md-card >
      <a [routerLink]="['/ads/info', ad.id]"><img md-card-lg-image src="{{imgs[ad.id]}}" onError="this.src='./images/no_img.jpg';" ></a>
      <md-card-content>
        <p>
         <a [routerLink]="['/ads/info', ad.id]">{{ad.title}}</a>
        <p>
         <a [routerLink]="['/ads/info', ad.id]">R$ {{ad.price}}</a>
      </md-card-content>
      <md-card-actions>
        <button md-icon-button (click)="addToWishlist();" mdTooltip="Adicionar a lista de desejos"><md-icon color="accent" class="material-icons">&#xE87D;</md-icon></button>
        <button md-icon-button (click)="addToCart();" mdTooltip="Adicionar ao carrinho"><md-icon color="primary" class="material-icons">&#xE854;</md-icon></button>
      </md-card-actions>
    </md-card>               
  </md-grid-tile>
</md-grid-list> 
  