
    <div class="main-container">
        <div class="container">
            <div class="row">
                <!-- this (.mobile-filter-sidebar) part will be position fixed in mobile version -->
                <div class="col-sm-3 page-sidebar mobile-filter-sidebar">
                    <aside>
                        <div class="inner-box">
                            <div class="categories-list  list-filter">
                                <h5 class="list-title"><strong><a href="#">Categorias</a></strong></h5>
                                <ul class=" list-unstyled">
                                    <li><a href="sub-category-sub-location.html"><span
                                            class="title">Electronics</span><span class="count">&nbsp;8626</span></a>
                                    </li>
                                    <li><a href="sub-category-sub-location.html"><span class="title">Automobiles </span><span
                                            class="count">&nbsp;123</span></a></li>
                                    <li><a href="sub-category-sub-location.html"><span
                                            class="title">Property </span><span class="count">&nbsp;742</span></a></li>
                                    <li><a href="sub-category-sub-location.html"><span
                                            class="title">Services </span><span class="count">&nbsp;8525</span></a></li>
                                    <li><a href="sub-category-sub-location.html"><span
                                            class="title">For Sale </span><span class="count">&nbsp;357</span></a></li>
                                    <li><a href="sub-category-sub-location.html"><span
                                            class="title">Learning </span><span class="count">&nbsp;3576</span></a></li>
                                    <li><a href="sub-category-sub-location.html"><span class="title">Jobs </span><span
                                            class="count">&nbsp;453</span></a></li>
                                    <li><a href="sub-category-sub-location.html"><span
                                            class="title">Cars & Vehicles</span><span class="count">&nbsp;801</span></a>
                                    </li>
                                    <li><a href="sub-category-sub-location.html"><span class="title">Other</span><span
                                            class="count">&nbsp;9803</span></a></li>
                                </ul>
                            </div>
                            <!--/.categories-list-->

                    

                            
                            <!--/.list-filter-->
                            <div style="clear:both"></div>
                        </div>

                        <!--/.categories-list-->
                    </aside>
                </div>
                <!--/.page-side-bar-->
                <div class="col-sm-9 page-content col-thin-left">
                    <div class="category-list">
                    
                        <div class="tab-filter">
                            <select class="selectpicker" data-style="btn-select" data-width="auto">
                                <option>Short by</option>
                                <option>Price: Low to High</option>
                                <option>Price: High to Low</option>
                            </select>
                        </div>
                       


                        <!-- Mobile Filter bar-->
                        <div class="mobile-filter-bar col-lg-12  ">
                            <ul class="list-unstyled list-inline no-margin no-padding">
                                <li class="filter-toggle">
                                    <a class="">
                                        <i class="  icon-th-list"></i>
                                        Filters
                                    </a>
                                </li>
                                <li>


                                    <div class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle"><i class="caret "></i> Short
                                            by </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="" rel="nofollow">Relevance</a></li>
                                            <li><a href="" rel="nofollow">Date</a></li>
                                            <li><a href="" rel="nofollow">Company</a></li>
                                        </ul>
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <div class="menu-overly-mask"></div>
                        <!-- Mobile Filter bar End-->

                        <div class="adds-wrapper">                   

                             <div *ngIf="isLoading && !errorMessage">
                                Loading our hyperdrives!!! Retrieving data...
                            </div>
                            <div *ngIf="errorMessage">
                                    {{errorMessage}}
                            </div>
                            <!--/.item-list-->
                            <div class="item-list" *ngFor="let ad of ads; let i = index;">
                                <div class="col-sm-2 no-padding photobox">
                                    <div class="add-image"><span class="photo-count"><i
                                            class="fa fa-camera"></i> 2 </span> <a href="ads-details.html">
                                            <img src={{imgs[ad.id]}}>
                                            </a></div>
                                </div>
                                
                                <!--/.photobox-->
                                <div class="col-sm-7 add-desc-box">
                                    <div class="add-details">
                                        <h5 class="add-title">
                                            <a [routerLink]="['/ads/info', ad.id]">
                                                {{ad.title }}
                                            </a>
                                        </h5>
                                        <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                                                                      data-placement="right" title="Business Ads">B </span> <span class="date"><i
                                                class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span
                                                class="item-location"><i class="fa fa-map-marker"></i> London </span> </span></div>
                                </div>
                                <!--/.add-desc-box-->
                                <div class="col-sm-3 text-right  price-box">
                                    <h2 class="item-price"> $ {{ad.price}} </h2>
                                    <a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span> </a></div>
                                <!--/.add-desc-box-->                                
                            </div>
                        <!--/.adds-wrapper-->

                        
                    </div>
                     
                    <div class="pagination-bar text-center">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"> ...</a></li>
                            <li><a class="pagination-btn" href="#">Próxima &raquo;</a></li>
                        </ul>
                    </div>
                    <!--/.pagination-bar -->

                    <div class="post-promo text-center">
                        <h2> Do you get anything for sell ? </h2>
                        <h5>Sell your products online FOR FREE. It's easier than you think !</h5>
                        <a href="post-ads.html" class="btn btn-lg btn-border btn-post btn-danger">Post a Free Ad </a>
                    </div>
                    <!--/.post-promo-->

                </div>
                <!--/.page-content-->

            </div>
        </div>
    </div>
    <!-- /.main-container -->