<!-- Product-->
<div class="product-card product-list" *ngFor="let ad of ads;" >
  <a class="product-thumb" [routerLink]="['/ads/info', ad.id]">
    <img class="img-responsive" src="{{imgs[ad.id]}}" onError="this.src='./images/no_img.jpg';" alt="Product"/>
  </a>
    
  <div class="product-info">
    <h3 class="product-title"><a [routerLink]="['/ads/info', ad.id]">{{ad.title}}</a></h3>
    <h4 class="product-price">
      {{ad.price}}
    </h4>
    <p class="hidden-xs-down">{{ad.description}}</p>

    <div class="product-buttons">
      <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
      <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
    </div>
  </div>
</div>

            