<!-- Page Content-->
    <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>ADS</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="index.html">Home</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li><a href="shop-grid-ls.html">Shop</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Single Product</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container padding-bottom-3x mb-2">
        <div class="row">
          <div class="col-lg-4">
            
            <nav class="list-group">
                <a class="list-group-item" [routerLink]="['/account-home', {outlets: {'account': ['detail']}}]"><i class="icon-head"></i>Meu Cadastro</a>
                <a class="list-group-item justify-content-between" [routerLink]="['/account-home', {outlets: {'account': ['myads']}}]"><span><i class="icon-bag"></i>Meus Anuncios</span><span class="badge badge-primary badge-pill"></span></a>
                
                
                <a class="list-group-item justify-content-between" [routerLink]="['/account-home', {outlets: {'account': ['wishlist']}}]"><span><i class="icon-heart"></i>Wishlist</span><span class="badge badge-primary badge-pill"></span></a>

                 <a class="list-group-item justify-content-between" [routerLink]="['/account-home', {outlets: {'account': ['chats']}}]"><span><i class="icon-heart"></i>Mensagens</span><span class="badge badge-primary badge-pill"></span></a>
                
            </nav>
          </div>
          <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <router-outlet name="account"></router-outlet>
            
          </div>
        </div>
      </div>
