// Media Buttons
.facebook-btn,
.twitter-btn,
.google-btn {
  text-transform: none;
  > i { margin-top: 0; }
}
.facebook-btn {
  border-color: #3b5998;
  background-color: transparent;
  color: #3b5998;
  &:hover {
    background-color: #3b5998;
    color: $white-color;
  }
}
.twitter-btn {
  border-color: #55acee;
  background-color: transparent;
  color: #55acee;
  &:hover {
    background-color: #55acee;
    color: $white-color;
  }
}
.google-btn {
  border-color: #dd4b39;
  background-color: transparent;
  color: #dd4b39;
  > i { font-size: 1.3em; }
  &:hover {
    background-color: #dd4b39;
    color: $white-color;
  }
}
// Login Box
.login-box {
  display: block;
  width: 100%;
  padding: 30px 24px;
  border: 1px solid $border-color;
  border-radius: $border-radius-lg;
}