<div id="wrapper">
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 login-box">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <form role="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                                <div class="form-group">
                                    <label for="sender-email" class="control-label">Usuário:</label>

                                    <div class="input-icon"><i class="icon-user fa"></i>
                                        <input id="sender-email" type="text" placeholder="Email"
                                               class="form-control email" [(ngModel)]="login.email" name="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user-pass" class="control-label">Senha:</label>

                                    <div class="input-icon"><i class="icon-lock fa"></i>
                                        <input type="password" class="form-control" placeholder="Password"
                                               id="user-pass" [(ngModel)]="login.password" name="password">
                                    </div>
                                </div>
                                <!-- Button  -->
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>

                                    <div class="col-md-8"><button type="button" id="loginButton" [disabled]="!loginForm.form.valid" (click)="login(login);" class="btn btn-success btn-lg">Login</button></div>
                                </div>
                                <div class="form-group">
                                    <a href="/login/facebook" class="btn btn-primary  btn-block">Login with Facebook</a>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer">

                            <div class="checkbox pull-left">
                                <label> <input type="checkbox" value="1" name="remember" id="remember"> Mantenha-me logado</label>
                            </div>


                            <p class="text-center pull-right"><a href="forgot-password.html"> Esqueceu a senha? </a>
                            </p>

                            <div style=" clear:both"></div>
                        </div>
                    </div>
                    <div class="login-box-btm text-center">
                        <p> Não possue conta? Registre-se <br>
                            <a routerLink="/register"><strong>Crie sua conta !</strong> </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>