
<!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Title-->
      <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>Login / Register Account</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="index.html">Home</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li><a href="account-orders.html">Account</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Login / Register</li>
            </ul>
          </div>
        </div>
      </div>
<!-- Page Content-->
      <div class="container padding-bottom-3x mb-2">
        <div class="row">
          <div class="col-md-6">
            <form class="login-box"  #loginForm="ngForm">
              <div class="row margin-bottom-1x">
                <div class="col-xl-4 col-md-6 col-sm-4"><a class="btn btn-sm btn-block facebook-btn" href="#"><i class="socicon-facebook"></i>&nbsp;Facebook</a></div>
                <div class="col-xl-4 col-md-6 col-sm-4"><a class="btn btn-sm btn-block twitter-btn" href="#"><i class="socicon-twitter"></i>&nbsp;Twitter</a></div>
                <div class="col-xl-4 col-md-6 col-sm-4"><a class="btn btn-sm btn-block google-btn" href="#"><i class="socicon-googleplus"></i>&nbsp;Google+</a></div>
              </div>
              <h4 class="margin-bottom-1x">Já possui cadastro? Entao entre com sua conta</h4>
              <div class="form-group input-group">
                  <md-form-field class="full-width">
                    <input mdInput placeholder="E-mail" [(ngModel)]="login.email" name="email" type="email" required>
                  </md-form-field>
              </div>
              <div class="form-group input-group">
                  <md-form-field class="full-width">
                    <input mdInput placeholder="Senha" [(ngModel)]="login.password" name="password" type="password" required>
                  </md-form-field>
              </div>
              
              <div class="text-center text-sm-right">
                <button md-raised-button color="primary" [disabled]="!loginForm.form.valid" (click)="login(login);">Login</button>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="padding-top-3x hidden-md-up"></div>
            <h3 class="margin-bottom-1x">Nao é cadastrado? Cadastre-se!</h3>
            <p>Cadastro leva mmenos de um minuto e te garante controle total sobre seus pedidos e anuncios.</p>
            <form class="row"  #registerForm="ngForm">
              <div class="col-sm-6">
                <div class="form-group">
                  <md-form-field>
                    <input mdInput placeholder="Nome" [(ngModel)]="user.firstName" name="firstName" required>
                  </md-form-field>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                   <md-form-field>
                    <input mdInput placeholder="Sobrenome" [(ngModel)]="user.lastName" name="lastName" required>
                  </md-form-field>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <md-form-field>
                    <input mdInput placeholder="E-mail" type="email" [(ngModel)]="user.email" name="email" required>
                  </md-form-field>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <md-form-field>
                    <input mdInput placeholder="Celular"  [(ngModel)]="user.phone" name="phone" required>
                  </md-form-field>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <md-form-field>
                    <input mdInput placeholder="Apartamento"  [(ngModel)]="user.apartment" name="apartment" required>
                  </md-form-field>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <md-form-field>
                    <input mdInput placeholder="Torre"  [(ngModel)]="user.tower" name="tower" required>
                  </md-form-field>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <md-form-field>
                    <input mdInput placeholder="Senha"  type="password" [(ngModel)]="user.password" name="password" required>
                  </md-form-field>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <md-form-field>
                    <input mdInput placeholder="Confirme a senha"  type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                  </md-form-field>
                </div>
              </div>
              
              <div class="col-12 text-center text-sm-right">
                <button md-raised-button color="primary" [disabled]="!registerForm.form.valid" (click)="save(registerForm);">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>