
<div class="inner-box">
        
        <div id="accordion" class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#collapseB1" data-toggle="collapse"> Meu Cadastro </a></h4>
                </div>
                <div class="panel-collapse collapse in" id="collapseB1">
                    <div class="panel-body">
                        
                        <form class="form-horizontal" (ngSubmit)="onSubmit()" #accountDetailForm="ngForm">
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Nome</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Sobrenome</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" required>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email</label>

                                <div class="col-sm-9">
                                    {{user.email}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Phone" class="col-sm-3 control-label">Telefone</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="Phone"
                                           [(ngModel)]="user.phone" name="phone" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Apartamento</label>

                                <div class="col-sm-3">
                                    <input type="text" class="form-control" [(ngModel)]="user.apartment" name="apartment" required>
                                </div>
                                <label class="col-sm-3 control-label">Torre</label>

                                <div class="col-sm-3">
                                    <input type="text" class="form-control" [(ngModel)]="user.tower" name="tower" required>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="button" class="btn btn-default" [disabled]="!accountDetailForm.form.valid" (click)="update(user);">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            

    </div>
