<!-- Page Title-->
      
<!-- Page Content-->
      
      
      <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>GOOGLE ADS</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="index.html">Home</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Shop Categories</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container padding-bottom-2x mb-2">
        <div class="row">
          <!-- Categories-->
          <div class="col-xl-12 col-lg-12 ">
            <!-- Promo banner-->
            <div class="alert alert-image-bg alert-dismissible fade show text-center mb-3" style="background-image: url(img/banners/acqua-bg.jpg);"><span class="alert text-white" data-dismiss="alert"></span>
              <div class="h3 text-medium text-white padding-top-1x padding-bottom-1x">
                <div class="mt-3 hidden-xl-up"></div>
              </div>
            </div>
            <h3 class="text-center mb-30">Encontre o que você está procurando!</h3>
           		
			           
                  <ul class="list-unstyled">
                    <li class="col-sm-3" *ngFor="let c of categories"><a (click)="searchByCategory(c);">{{c.name}}</a></li>
                 </ul>  
          </div>

        </div>
      </div>