<div class="intro" style="background-image: url(images/bg3.jpg);">
    <div class="dtable hw100">
        <div class="dtable-cell hw100">
            <div class="container text-center">
                <h1 class="intro-title animated fadeInDown"> Encontre Anuncios </h1>

                <p class="sub animateme fittext3 animated fadeIn"> Encontre anuncios do Acqua Play em minutos</p>

                <div class="row search-row animated fadeInUp">                    
                    <div class="col-lg-4 col-sm-4 search-col relative"><i class="icon-docs icon-append"></i>
                        <input type="text" name="ads" class="form-control has-icon"
                               placeholder="Estou procurando por ..." value="">
                    </div>
                    <div class="col-lg-4 col-sm-4 search-col" routerLink="/ads/">
                        <button class="btn btn-primary btn-search btn-block"><i
                                class="icon-search" ></i><strong>Encontre</strong></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="container">

        <div class="col-lg-12 content-box ">
            <div class="row row-featured row-featured-category">
                <div class="col-lg-12  box-title no-border">
                    <div class="inner"><h2><span>Browse by</span>
                        Category <a href="category.html" class="sell-your-item"> View more <i
                                class="  icon-th-list"></i> </a></h2>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                    <a href="category.html"><img src="images/category/car-2.jpg" class="img-responsive" alt="img">
                        <h6> Automobiles </h6></a>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                    <a href="category.html"><img src="images/category/laptop-2.jpg" class="img-responsive"
                                                 alt="img"> <h6> Laptops </h6></a>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                    <a href="category.html"><img src="images/category/mobile.jpg" class="img-responsive" alt="img">
                        <h6> Mobiles </h6></a>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                    <a href="category.html"><img src="images/category/tv.jpg" class="img-responsive" alt="img"> <h6>
                        Electronics </h6></a>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                    <a href="category.html"><img src="images/category/hdd.jpg" class="img-responsive" alt="img">
                        <h6> Computer Accessories </h6></a>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                    <a href="category.html"><img src="images/category/house.jpg" class="img-responsive" alt="img">
                        <h6> Real Estate </h6></a>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                    <a href="category.html"><img src="images/category/Home-Electronics-Appliances-2.jpg"
                                                 class="img-responsive" alt="img"> <h6> Home Appliances </h6></a>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                    <a href="category.html"><img src="images/category/camera.jpg" class="img-responsive" alt="img">
                        <h6> Cameras </h6></a>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                    <a href="category.html"><img src="images/category/fashion.jpg" class="img-responsive" alt="img">
                        <h6> Fashion & Beauty </h6></a>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                    <a href="category.html"><img src="images/category/toy.jpg" class="img-responsive" alt="img">
                        <h6> Kids & Baby Products </h6></a>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                    <a href="category.html"><img src="images/category/jobs.jpg" class="img-responsive" alt="img">
                        <h6> Jobs </h6></a>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                    <a href="category.html"><img src="images/category/catalog.jpg" class="img-responsive" alt="img">
                        <h6> Home & Furniture </h6></a>
                </div>

            </div>


        </div>
    </div>
</div>