<div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 page-content">
                    <div class="inner-box category-content">
                        <h2 class="title-2"><i class="icon-user-add"></i> Create your account, Its free </h2>

                        <div class="row">
                            <div class="col-sm-12">
                                 <form class="form-horizontal" (ngSubmit)="onSubmit()" #registerForm="ngForm">
                                    <fieldset>
                    
                                        <div class="form-group required">
                                            <label class="col-md-4 control-label">Usuário
                                                <sup>*</sup></label>

                                            <div class="col-md-6">
                                                <input [(ngModel)]="user.username" name ="username" type="text" class="form-control" 
                                                       placeholder="Usuário">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label for="inputEmail3" class="col-md-4 control-label">Email
                                                <sup>*</sup></label>

                                            <div class="col-md-6">
                                                <input [(ngModel)]="user.email" name="email" type="email" class="form-control" 
                                                       placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label for="inputPassword3" class="col-md-4 control-label">Password </label>

                                            <div class="col-md-6">
                                                <input [(ngModel)]="user.password" name="password" type="password" class="form-control" 
                                                       placeholder="Password">

                                                <p class="help-block">At least 5 characters
                                                    <!--Example block-level help text here.--></p>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group required">
                                            <label class="col-md-4 control-label">Nome <sup>*</sup></label>

                                            <div class="col-md-6">
                                                <input [(ngModel)]="user.firstName" name="firstName" placeholder="Nome" class="form-control input-md"
                                                       required type="text">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group required">
                                            <label class="col-md-4 control-label">Sobrenome <sup>*</sup></label>

                                            <div class="col-md-6">
                                                <input [(ngModel)]="user.lastName" name="lastName" placeholder="Sobrenome"
                                                       class="form-control input-md" type="text" required>
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group required">
                                            <label class="col-md-4 control-label">Telefone <sup>*</sup></label>

                                            <div class="col-md-6">
                                                <input [(ngModel)]="user.phone" name="phone" placeholder="Telefone"
                                                       class="form-control input-md" type="text">

                                                
                                            </div>
                                        </div>

                                         <!-- Text input-->
                                        <div class="form-group required">
                                            <label class="col-md-3 control-label">Apartamento <sup>*</sup></label>

                                            <div class="col-md-3">
                                                <input [(ngModel)]="user.apartment" name="apartment" placeholder="Apartamento"
                                                       class="form-control input-md" type="text">

                                                
                                            </div>

                                             <label class="col-md-2 control-label">Torre <sup>*</sup></label>

                                            <div class="col-md-2">
                                                <input [(ngModel)]="user.tower" name="tower" placeholder="Torre"
                                                       class="form-control input-md" type="text">

                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"></label>

                                            <div class="col-md-8">
                                                <div class="termbox mb10">
                                                    <label class="checkbox-inline" for="checkboxes-1">
                                                        <input name="checkboxes" id="checkboxes-1" value="1"
                                                               type="checkbox">
                                                        I have read and agree to the <a href="terms-conditions.html">Terms
                                                        & Conditions</a> </label>
                                                </div>
                                             </div>
                                              <!-- Button  -->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"></label>

                                                <div class="col-md-8"><button type="button" id="saveAdButton" [disabled]="!registerForm.form.valid" (click)="save(user);" class="btn btn-success btn-lg">Registrar</button></div>
                                            </div>   
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>